{% extends 'base.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%block title%}
    <meta name="google-signin-client_id" content="250294291683-jn0uusc8ki1ac4vb2ls6ue1q6eshran3.apps.googleusercontent.com">
</head>
<body>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="250294291683-jn0uusc8ki1ac4vb2ls6ue1q6eshran3.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
    
    <script>

    function handleCredentialResponse(CredentialResponse) {
    // Обработка ответа от сервера после аутентификации
              console.log(CredentialResponse.credential);
              fetch('http://localhost:8000/oauth/auth',{
                method: 'POST',
                headers: {'Content-Type': 'application/json; charset=UTF-8 '},
                body: JSON.stringify({
                    token: CredentialResponse.credential
                })
              })
              .then(res => res.json())
              .then(data => console.log('ID:' + data.user_id + '\nToken: ' + data.access_token))
        }
    </script>
</body>
</html>